<!-- register.component.html -->

<div class="register">
    <form class="custom-form" method="post">
      <h1>Register</h1>
      <input
        type="nick"
        [(ngModel)]="nick"
        name="nick"
        placeholder="Nick"
        required="required"
      />
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="password"
        placeholder="Repeat the password"
        required="required"
      />
      />
      <input
        type="nombre"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre"
        required="required"
      />
      <input
        type="apellido"
        [(ngModel)]="apellido"
        name="apellido"
        placeholder="Apellido"
        required="required"
      />
      <input
        type="centro"
        [(ngModel)]="centro"
        name="centro"
        placeholder="Centro"
        required="required"
      />
      <button type="submit" (click)="ComprobarUsuario(nick)">Register</button>
    </form>
  </div>
