
  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Register</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Nick" id="login-name" ([ngModel])="register.Nick" >
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" id="login-pass" ([ngModel])="register.Pass" >
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="Confirmpassword" id="login-pass" ([ngModel])="register.Nombre">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Nombre" id="login-pass" ([ngModel])="register.Apellido">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Apellido" id="login-pass" ([ngModel])="register.Nick">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Centro" id="login-pass" ([ngModel])="register.Nick">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
														
				<a class="btn btn-primary btn-large btn-block" href="#" (click)="Register()">Register</a>
				<a href="#">Login</a>
				<a class="login-link" href="#">Lost your password?</a>
			</div>
		</div>
	</div>
</body>